[Desktop Entry]
Hidden=false
Exec=sage -n
Icon=icon128x128.png
Type=Application
NoDisplay=false
Version=1.0
StartupNotify=true
GenericName[en_US]=Sage Notebook
Comment=Launch Sage Notebook
Categories=Applications;Office;Education;
Terminal=false
Name=Sage Notebook
GenericName=Sage Notebook
Icon[en_US]=icon128x128.png
Name[en_US]=Sage Notebook
Comment[en_US]=Launch Sage Notebook
